<?xml version="1.0"?>
<!--
/**
 * @category   Lillik_SeoPagination
 * @package    Lillik_SeoPagination
 * @copyright  Copyright (c) 2017 LillikPro (http://lillik.pro)
 * @author     LillikPro <support@lillik.pro>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Lillik\SeoPagination\Model\ConfigInterface" type="Lillik\SeoPagination\Model\Config" />

</config>